.git
src/**/*
# These modules are used both on the client and server; they are the only
# files under src that needs to be included
!src/lib/markdown.mjs
!src/lib/markdown-it-fragmentify.mjs
notes
.gitignore
.babelrc
webpack.config.js
