@import 'bulma/css/bulma.min.css';

:root {
    --bulma-family-primary: "Noto Sans", BlinkMacSystemFont, -apple-system,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --bulma-code: unset;
    /* These match the default (light/dark) highlight.js theme */
    --bulma-code-background: #f3f3f3;
    --bulma-pre-background: #f3f3f3; 
    &[data-theme="dark"] {
        color-scheme: dark;
        --bulma-code-background: #282c34;
        --bulma-pre-background: #282c34;
    }
}

/* Remove vertical scrollbar on fullscreen application */
html.no-scroll {
    overflow-y: hidden;
}

.icon-button > svg {
    display: block;
    width: 100%;
    height: 100%;
}

.icon-button.is-active > svg {
    fill: var(--bulma-primary);
}

/* Small tweaks to editor and rendered markdown content  */
/* (perhaps break this out into a custom resource?) */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.cm-editor {
    .cm-scroller {
        scrollbar-width: thin;
    }
    font-size: 14px;

    &.cm-focused { outline: none !important; }
    
    .cm-content {
        font-family: 'DejaVu Sans Mono', 'Consolas', monospace;
    }

    /* Highlighting colors for token classes defined in markdownTexHighlightStyle */
    .cmt-im, .cmt-im-d, .cmt-bm { color: #4876d6; }
    [data-theme="dark"] & {
        .cmt-im, .cmt-im-d, .cmt-bm { color: #e06c75; }
    }
}

.render-container {
    scrollbar-width: thin;
}

.content.rendered-note-content {
    overflow-wrap: break-word;

    font-size: 1.1em;
    line-height: 1.6;
    font-family: Noto Serif, serif;

    p img {
        display: block;
        margin: 0 auto;
    }

    p svg {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    /* Extra bottom padding on render view in editor */
    padding: 0.5rem 0.5rem 1in 0.5rem;

    li p {
        margin-bottom: 0;
    }

    /* Shouldn't apply in markdown loose lists, i.e. li > p + ul,
    and it doesn't since the following rule is more specific */
    p+ul {
        margin-top: calc(-0.75em);
    }

    li ul {
        margin-top: 0.25em;
    }
}

.color-red { color: red; }
.color-blue { color: blue; }
.color-green { color: green; }
.color-orange { color: orange; }

svg path.default-fill {
    fill: black;
    [data-theme="dark"] & {
        fill: white;
    }
}

.markdown-chunk-update-flash {
    animation-name: markdown-chunk-update-flash-animation;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

@keyframes markdown-chunk-update-flash-animation {
    from { background: lightgoldenrodyellow }
    to   { background: default }
}

body.static-page .rendered-note-content {
    min-height: 100vh;
    background: var(--bulma-body-background);
    padding: 0.5rem 1rem 0.5rem 1rem;
    @media screen and (min-width: 1024px) {
        border-left: 2px solid var(--bulma-body-color);
        border-right: 2px solid var(--bulma-body-color);
    }
    @media print {
        border: none;
    }
}

body.static-page.static-note-page {
    background: var(--bulma-body-background);
}

body.static-page .datecell {
    white-space: nowrap;
}
