// Settings

@import 'bulma/bulma.sass';

// Remove vertical scrollbar on fullscreen application
html.no-scroll {
    overflow-y: hidden;
}

// Reveal
.reveal.reveal-custom {
    .slides { text-align: left; }
    .slides p.inline-figure { text-align: center; }
    ul { display: block; }
    ol { display: block; }
    h1,h2,h3,h4,h5,h6 {
        text-transform: unset;
    }
}


