// Settings

$family-primary: "Noto Sans", BlinkMacSystemFont, -apple-system,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import 'bulma/bulma.sass';

// Remove vertical scrollbar on fullscreen application
html.no-scroll {
    overflow-y: hidden;
}

// Small tweaks to rendered markdown content (perhaps break this out into
// a custom resource?)
.rendered-note-content {
    overflow-wrap: break-word;

    p.inline-figure {
        text-align: center;
    }

    &:not(.print-page) {
        /* Extra bottom padding on render view in editor */
        padding: 0.5rem 0.5rem 1in 0.5rem;
    }

    &.print-page {
        min-height: 100vh;
        background: white;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-left: 2px solid black;
        border-right: 2px solid black;
        @media print {
            border: none;
        }
    }
}

body.print-page {
    background: hsl(0, 0%, 95%);
}
