<!doctype html>
<html class="no-scroll">

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="<%= require('./assets/favicon.ico') %>" sizes="any">
    <link rel="icon" href="<%= require('./assets/icon.svg') %>" type="image/svg+xml">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <base href="/mynoteserver/" target="_blank">
    <script src="app/resources/config-default.js"></script>
    <link rel="stylesheet" href="app/resources/reveal.css">
    <link rel="stylesheet" href="app/resources/reveal-theme-default.css">
    <link rel="stylesheet" href="app/resources/highlight-theme-default.css">
    <style id="mathjax-chtml-styles"></style>
</head>

<body>
</body>

</html>