<!doctype html>
<html class="no-scroll">

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="<%= require('./assets/favicon.ico') %>" sizes="any">
    <link rel="icon" href="<%= require('./assets/icon.svg') %>" type="image/svg+xml">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="/custom-resource/mathjax-config.js"></script>
    <link rel="stylesheet" href="/app/reveal.css">
    <link rel="stylesheet" href="/custom-resource/reveal-theme.css">
    <link rel="stylesheet" href="/custom-resource/highlight-theme.css">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
</head>

<body>
</body>

</html>